[submodule "2023.spring_23/10.android_dev/50.final_project/class_exchange"]
	path = 2023.spring_23/10.android_dev/50.final_project/class_exchange
	url = /home/steveen/Documents/010.ICT_university/current/10.android_dev/50.final_project/class_exchange
